/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 54px;
    padding-bottom: 30px;
    background: azure;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

  table > tbody > tr > td > button {
    margin-left: 5px;
  }